/*CSS3
*******Estilizagem do site Filosofia*******

"CSS é massa demais! Mude minha mente." -- Edu, 2023.

Participantes:    
    Eduardo Carvalho Valadão,    Isabela Cunha Silva,   Lucas Matheus de Oliveira Barbosa, 
    Samuel Prado Soares,    Victor Afonso Fernandes.

Desenvolvido n
o VSCode e GitHub.
*/


/*Códigos de estruturação de caixas, fontes e navbar*/
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: rgb(170,50,250);*/
}

ul.navbar {
    list-style-type: none;
    background-color: rgb(165, 175, 179);
    overflow: hidden;
    width: 100%;
    margin: 20px 0px;
    padding: 0;
    position: sticky;
    top: 0px;
}

.navbar li a {
    float: left;
    padding: 10px 40px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(106, 128, 146);
}
/**/

/*Títulos, parágrafos, etc*/
h1.top-title {
    text-align: center;
    font-size: 30px;
    color: black; /*vamo mudá sas cores :P*/
    margin: 0px;
    padding: 0px;
}

h1.title1 {
    border: 1px solid #364C59;
    border-radius: 50px;
    background-color: #364C59;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 20px 20px;
    margin: 40px auto;
}

h2.subtitle1 {
    text-align: center;
    font-size: 20px;
}

p.intro {
    /*border*/
    border: 2px inset rgb(37, 37, 37);
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom: none;
    border-top: none;
    /*paragraph*/
    text-indent: 50px;
    padding: 25px 50px;
    margin: 50px auto;
}

/**/