/*CSS3
*******Estilizagem do site Filosofia*******

"CSS é massa demais! Mude minha mente." -- Edu, 2023.

Participantes:    
    Eduardo Carvalho Valadão,    Isabela Cunha Silva,   Lucas Matheus de Oliveira Barbosa, 
    Samuel Prado Soares,    Victor Afonso Fernandes.
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --cinza: #E0E0E0;
    --color-azul-100: #364c59;
    --color-azul-10: #84b1d9;
    --color-azul-30: #71A8D8;
    --color-azul-50: #5fa0d9;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    background-color: var(--color-azul-50);
    display: block;
}

.navbar {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 15px 5px;
    border-radius: 15px;
    transition: background .5s ease-in-out;
}

li a:hover {
    background-color: var(--color-azul-10);
}

/**/

/*Títulos, parágrafos, etc*/
.top-title {
    letter-spacing: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-azul-100);
    padding: 10px;
    text-transform: uppercase;
}

.tl1 {
    max-width: 80%;
    min-width: 50%;
    height: 100px;
    background-color: var(--color-azul-100);
    margin-top: 50px;
    border-radius: 50px;
}

/*subtítulos dos temas*/

.tl2 {
    color: var(--color-azul-100);
    font-size: 1.6rem;
    margin-top: 50px;
}

/**/

.p1 {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: var(--cinza);
}

p.intro {
    font-size: 1.5rem;
    text-indent: 20px;
    padding: 50px 30px 0;

}


.dg {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 1000px;
    background-color: var(--color-azul-100);
}

.ps {
    color: var(--cinza);
    padding: 10px;
}

.ps2 {
    color: var(--color-azul-10);
    padding: 5px;
}

/**/